
/* Ana İçerik */
main {
    padding: 20px 0;
    animation: fadeIn 0.5s ease; /* Geçiş animasyonunu ekler */
}

/* Ana İçerik için fade-in animasyonu */
@keyframes fadeIn {
    from {
        opacity: 0; /* Başlangıçta sayfa görünmez */
    }
    to {
        opacity: 1; /* Geçiş sonunda sayfa tamamen görünür */
    }
}


/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; /* İçeriğin arasını boşluk bırakarak sağa ve sola yaslanmasını sağlar */
    align-items: center; /* İçeriğin dikey olarak ortalanmasını sağlar */
}

header h1 {
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Ana İçerik */
main {
    padding: 20px 0;
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ff7043;
}

/* brands */

.brands {
    margin-top: 40px;
}

.brand-list {
    display: flex;
    justify-content: space-between;
}

.brand {
    flex-basis: calc(33.333% - 20px);
    text-align: center;
}

.brand img {
    width: 40%;
    border-radius: 5px;
}

.brand h3 {
    margin-top: 15px;
}

.brands .container h2{
    text-align: center;
}


/* categories */

.categories {
    margin-top: 40px;
}

.category-list {
    display: flex;
    justify-content: space-between;
}

.category {
    flex-basis: calc(33.333% - 20px);
    text-align: center;
}

.category img {
    width: 40%;
    border-radius: 5px;
}

.category h3 {
    margin-top: 15px;
}

.categories .container h2{
    text-align: center;
}



/* Footer (Alt Menü) */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-column {
    padding: 10px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;

}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.logo1 {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 35px;
}

.social-icons1 {
    display: flex;
}

.icon1 {
    background-image: url(insta.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
}

.icon2 {
    background-image: url(face.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}

.icon3 {
    background-image: url(twitter.png);
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}



.copyright {
    text-align: center;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-nav ul li:last-child {
    margin-right: 0;
}

/* Banner */
.banner {
    text-align: center;
    margin-bottom: 40px;
}

.banner-container {
    position: relative;
}

.banner img {
    max-width: 100%;
    border-radius: 10px;
}

/* Dots */
.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dots a {
    display: inline-block;
    margin: 0 5px;
}

.dots img {
    width: 15px; /* Dotların başlangıç genişliği */
    height: 15px; /* Dotların başlangıç yüksekliği */
    opacity: 0.6; /* Dotların opaklığı */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Geçiş efekti */
}

.dots img:hover {
    transform: scale(1.5); /* Dotların boyutunu büyütür */
    opacity: 1; /* Dotların opaklığını artır */
}

/* Kategoriler */
.categories {
    margin-top: 40px;
}




.menu{
    background-image: url(menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -10px;
}


/* Yan Menü */
.side-menu {
    position: fixed;
    top: 0;
    left: -350px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}

.side-menu.active {
    left: 0;
}

.side-menu h2 {
    margin-bottom: 20px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 15px;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-bottom: 25px;
}


/* Ürünler */
.products {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ürünlerin ortalanması için */
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    padding: 10px;
    margin: 0 15px 30px; /* Aralarda boşluk bırakılması için */
    width: calc(33.333% - 70px); /* Sütun sayısına göre genişlik ayarı */
}

.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product h3 {
    margin: 0;
    font-size: 16px;
}

.product .price {
    color: #ff5722;
    font-size: 14px;
    margin-bottom: 10px;
}

.product .add-to-cart {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.product .add-to-cart:hover {
    background-color: #363636;
}

/* Sepet Butonu */
.cart-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 10px;
    float: right;
    margin-right: 35px;
    margin-top: -20px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cart-button:hover {
    background-color: #414141;
    color: #ff5722;
}

.cart-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.cart-text {
    font-size: 16px;
}

/* Sepet Sayacı */
.cart-counter {
    background-color: #fff;
    color: #ff5722;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px;
}

/* cart-style.css */

/* Sepet Öğesi */
.cart-item {
    display: flex;
    margin-bottom: 20px;
}

/* Ürün Resmi */
.product-image img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Resmi kare şeklinde ayarlar */
    margin-right: 20px;
}

/* Ürün Bilgisi */
.product-info {
    flex: 1;
}

.product-info h3 {
    margin: 0;
}

.product-info .price {
    color: #ff5722;
    font-size: 18px;
}


/* Sepet Butonları */
.clear-cart,
.checkout {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.clear-cart:hover,
.checkout:hover {
    background-color: #ff7043;
}

.clear-cart {
    margin-right: 10px;
}

.checkout {
    margin-left: 10px;
}


/* Hakkımızda */
.about {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.about-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about .container{
    width: 75%;
    height: auto;
    padding: 30px;
    background-color: #333;
    color: #f9f9f9;
}

.about .container h2{
    text-align: center;
}

.about-info p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}


/* İletişim */
.contact {
    background-color: #f9f9f9;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.contact-info {
    width: 50%;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.contact-info h2 {
    text-align: center;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 16px;
}

.map {
    width: 50%;
    padding: 20px;
}

.map iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.banner-container img {
    transition: opacity 0.5s ease-in-out;
}

.banner-container img.hide {
    opacity: 0;
}


.announcement {
    background-color: rgba(90, 90, 90, 0.8); /* Açık tonlu arkaplan */
    padding: 1px 1px; /* Kenar boşlukları */
    display: flex; /* İçerikleri yatay hizala */
    color: #fff;
    align-items: center; /* Yatayda dikey ortala */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Alt çizgi */
    align-items: center; /* Yatayda dikey ortala */
    justify-content: center; /* Yatayda yatay ortala */
}

.announcement img {
    width: 20px; /* İkon boyutu */
    margin-right: 10px; /* İkon ile metin arasındaki boşluk */
    background-image: url(box.png);
    background-repeat: no-repeat;
    background-size: contain;
}


/* Giriş yap Butonu */
.login-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 10px;
    float: right;
    margin-right: 35px;
    margin-top: -20px;
    padding: 7px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.login-button:hover {
    background-color: #414141;
    color: #ff5722;
}

.login-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.login-text {
    font-size: 16px;
}


/* Login Page Styles */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container1 {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-container1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.login-form button {
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #ff5722;
}

.signup-link {
    font-size: 14px;
    margin-top: 20px;
}

.signup-link a {
    color: #ff5722;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
